/*  your css code here. If applicable */
#animal-photos {
	padding: 10px;
	background-color: grey;
	border-radius: 5px;
}
#photo-heading {
	text-align: center;
	padding: 20px;
	}
img {
	border-radius: 10px;
	margin: 10px;
}
